# Build results
bin/
obj/

# Visual Studio / Rider / VS Code
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# .NET Core tooling
project.lock.json
project.fragment.lock.json
artifacts/

# Resharper / Rider
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db